@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600);
@import "spectrum-colorpicker";

body {
  font-family: "Open Sans", "Courier", "Avenir"
}
/* Main */

#main.container {
  width: 90%;
}

/* Navigation */
.navbar {
  background-color: "#ecf0f1";
  .navbar-header {
    .navbar-brand {
      color: black;
      transition: color 1s;
    }
    .navbar-brand:hover {
      color: red;
      transition: color 1s;
    }
  }
}

/* New Pallet */

#singlePalette {
  height: 400px;
  padding: 40px;
  margin: 30px;
}

.colorBar {
  width: 100%;
}

#singlePalette {
  .colorBar:nth-child(1) {
    height: 40%;
  }
  .colorBar:nth-child(2) {
    height: 25%;
  }
  .colorBar:nth-child(3) {
    height: 20%;
  }
  .colorBar:nth-child(4) {
    height: 15%;
  }
}

.colorWrapper {
  margin-bottom: 2em;
}
.colorContainer {
  transition: box-shadow 0.5s;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.75);
  height: 300px;
  margin: 10px;
  .colorBar:nth-child(1) {
    height: 40%;
  }
  .colorBar:nth-child(2) {
    height: 25%;
  }
  .colorBar:nth-child(3) {
    height: 20%;
  }
  .colorBar:nth-child(4) {
    height: 15%;
  }
}


/* List */
.details {
  margin: 20px;
}

.colorContainer:hover {
  transition: box-shadow 0.5s;
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.75);
}

.colorContainer .ember-view {
  width: 100%;
  height: 100%;
}

.colorBar:hover {
  .colorLabel {
    opacity: 1;
    transition: opacity 0.5s;
  }
}

/* Color View */

.colorLabel {
  display: inline;
  background-color: black;
  color: white;
  margin: 5px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 0.5s;
}

.timeFromNow {
  font-size: 0.8em;
}