<div id="main" class="container">
<p>
  <button type="button" class="pull-right btn btn-default" {{action "newPallet"}}>
    New Pallet
  </button>
</p>
<div>
</div>
<div class="clearfix"></div>
	<div class="row">
		{{pallet-list pallets=model}}
	</div>
</div>
