<div class="container">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    {{new-pallet-selector changePallet="changePallet"}}
  </div>
  <button type="button" class="btn btn-lg center-block btn-primary" {{action "savePallet"}}>
    Save Pallet
  </button>
  <hr/>
</div>
