<div id="main" class="container">
<p id="paletteButtons">
  {{#link-to "palette.new" class="pull-right btn btn-default"}}New Palette{{/link-to}}
</p>
<div class="clearfix"></div>
	<div class="row">
		{{palette-list palettes=model}}
	</div>
</div>
