<div class="container">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    {{new-palette-selector changePalette="changePalette"}}
  </div>
  <button type="button" class="btn btn-lg center-block btn-default" {{action "savePalette"}}>
    Done
  </button>
</div>
